<main>
  <!-- <div class="bg-foto">
      <img src="{{{variables.bg_img}}}" alt="bg" />
    </div> -->
  <div class="container">
    <h1 class="title-main">Вас вітає "DOM"</h1>

    <section class="dignity">
        <div class="dignity__item">
            <img src="/maksymtarasovlight/img/dignity/dignity3.jpg" alt="">
            <div class="dignity__text">СІМЕЙНІ СВЯТА</div>
        </div>
        <div class="dignity__item">
            <img src="/maksymtarasovlight/img/dignity/dignity2.jpg" alt="">
            <div class="dignity__text">ДРУЖНІ ЗУСТРІЧІ</div>
        </div>
        <div class="dignity__item">
            <img src="/maksymtarasovlight/img/dignity/dignity1.jpg" alt="">
            <div class="dignity__text">ДИТЯЧІ СВЯТА</div>
        </div>
    </section>

    <section class="food food-popular">
      <div class="food__title">
        <a href="#">Ви повинні це спробувати!</a>
      </div>
      <div class="food__list">
        {% for product in top_products %}
        <div class="food-item">
          <div class="food-item__photo">
            <a href="/product" class="food-item__photo-img">
              <img src="{{{product.thumb}}}" alt="" />
            </a>
            <a href="/product" class="food-item__photo-text"> ХОЧУ! </a>
          </div>
          <div class="food-item__title">
            <a href="/product">{{{product.name}}}</a>
          </div>
          <div class="food-item__weight">{{{product.weight}}}</div>
          <div class="food-item__price"><span>{{{product.price}}}&nbsp;</span>{{{currency}}}</div>
          <div class="food-item__descr">
            {{{product.descr}}}
            <em>{{{product.packaging}}}</em>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="/products" class="btn-main">Всі страви</a>
    </section>

    <section class="food food-new">
      <div class="food__title">
        <a href="#">Наші новинки!</a>
      </div>
      <div class="food__list">
        {% for product in products %}
        <div class="food-item">
          <div class="food-item__photo">
            <a href="/product" class="food-item__photo-img">
              <img src="{{{product.thumb}}}" alt="" />
            </a>
            <a href="/product" class="food-item__photo-text"> ХОЧУ! </a>
            <div class="food-item__new">NEW</div>
          </div>
          <div class="food-item__title">
            <a href="/product">{{{product.name}}}</a>
          </div>
          <div class="food-item__weight">{{{product.weight}}}</div>
          <div class="food-item__price"><span>{{{product.price}}}&nbsp;</span>{{{currency}}}</div>
          <div class="food-item__descr">
            {{{product.descr}}}
            <em>{{{product.packaging}}}</em>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="/products" class="btn-main">Всі страви</a>
    </section>

    <section class="articles-main">
      <h2 class="articles-main__title">Новини</h2>
      <div class="articles-list">
        {% for article in articles %}
        <div class="articles-item">
          <div class="articles-item__img">
            <img src="{{{article.thumb}}}" alt="" />
          </div>
          <div class="articles-item__info">
            <h3 class="articles-item__title">{{{article.name}}}</h3>
            <div class="articles-item__descr">{{{article.description}}}</div>
          </div>
          <div class="articles-item__date-btn">
            <div class="articles-item__date">
              <img src="/maksymtarasovlight/img/icons/clock.svg" alt="" />
              <span>{{{article.date}}}</span>
            </div>
            <a href="/article" class="articles-item__btn">
              <span>Детальніше</span>
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24"
                height="24"
                viewBox="0,0,256,256"
              >
                <g
                  fill="#f6f6f6"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                >
                  <g transform="translate(3.2,256) scale(0.26667,0.26667)">
                    <path
                      d="M504,-480l-184,-184l56,-56l240,240l-240,240l-56,-56z"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="/articles" class="btn-main">Всі новини</a>
    </section>
  </div>
</main>
