/*-------------food-menu-------------*/
.food-menu {
    display: flex;
    align-items: center;
    padding: 22px 0 5px 0;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      height: 4px;
      background-color: $light_salmon;
      border-radius: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $ivory;
      border-radius: 6px;
    }
    &__link {
      text-align: center;
      margin-right: 22px;
      font-size: 14px;
      color: $deep_black;
      font-weight: 500;
      line-height: 110%;
      transition: color 0.2s ease;
  
      &:hover {
        color: $ivory;
      }
    }
  }
  
  @media (max-width: 768px) {
    .food-menu {
      padding: 10px 0 10px 0;
  
      &__container {
        position: sticky;
        top: 90px;
        background-color: #fff;
        z-index: 99;
        border-top: 1px solid #c5c3c3;
      }
  
      &__link {
        margin-right: 60px;
      }
    }
  }
  
  @media (max-width: 576px) {
    .food-menu {
      &__container {
        top: 55px;
      }
  
      &__link {
        margin-right: 30px;
      }
    }
  }
  /*-------------/food-menu-------------*/



/*-------------food-------------*/
  .food {
    margin-bottom: 150px;
    &__title {
      position: relative;
      text-align: center;
      margin: 60px 0 60px 0;
      font-size: 30px;
      font-weight: 600;
      font-family: "Oswald", sans-serif;
  
      a {
        color: $ivory;
        transition: color 0.2s ease;
  
        &:hover {
          color: $antelope_skin;
        }
  
        &::after {
          content: "";
          position: absolute;
          bottom: -25px;
          left: 50%;
          transform: translateX(-50%);
          background: url(/maksymtarasovlight/img/food-item/var-shap.png)
            no-repeat center center;
          width: 100%;
          height: 15px;
          margin-top: 10px;
        }
      }
    }
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 70px 60px;
      padding-bottom: 50px;
    }
  }
  
  .food-item {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 245px;
  
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      background: url(/maksymtarasovlight/img/food-item/var-shap.png) no-repeat
        center center;
      background-size: cover;
      width: 50%;
      height: 15px;
      margin-top: 10px;
    }
  
    &__photo {
      position: relative;
      display: inline-block;
    }
  
    &__photo-img {
      img {
        width: 245px;
        height: 240px;
        object-fit: cover;
      }
    }
  
    &__photo-text {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 42px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background-color: rgb(207, 166, 112, 0.9);
      transition: background-color 0.2s ease;
  
      &:hover {
        background-color: $ivory;
      }
    }
  
    &__title {
      color: $anthracite;
      display: block;
      margin-top: 20px;
      text-transform: uppercase;
      margin-bottom: 0;
      padding: 0;
      min-height: 52px;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
      a {
        transition: 0.2s ease;
  
        &:hover {
          color: $ivory;
        }
      }
    }
  
    &__weight {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $anthracite;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      white-space: nowrap;
  
      &::before,
      &::after {
        content: "";
        width: 79px;
        height: 7px;
        background-size: cover;
  
      }
  
      &::before {
        background: url(/maksymtarasovlight/img/food-item/left-shap.png) no-repeat
          center center;
        margin-right: 13px;
      }
  
      &::after {
        background: url(/maksymtarasovlight/img/food-item/right-shap.png)
          no-repeat center center;
        margin-left: 13px;
      }
    }
  
    &__price {
      color: $dark_gray;
      font-family: "Oswald", sans-serif;
      font-size: 15px;
      font-weight: 500;
      padding-top: 13px;
      margin-top: 13px;
      border-top: 2px dotted $gray;
    }
  
    &__descr {
      position: relative;
      margin-top: 30px;
      min-height: 135px;
      font-family: "Oswald", sans-serif;
    }
  
    &__controls {
      display: inline-flex;
      border: 2px solid $ivory;
      height: 35px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  
    &__controls-img {
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
  
      svg {
        width: 24px;
        height: 24px;
  
        g{
          fill: $dark_gray;
          transition: fill 0.15s ease;
        }
      }
    }
  
    &__controls-number {
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      color: $dark_gray;
      padding: 0 8px;
      border-left: 2px solid $ivory;
    }
  }
  
  .food-item__controls.productFavorited .food-item__controls-img g {
    fill: $antelope_skin;
  }
  
  
  @media (max-width: 895px) {
    .food {
      &__list {
        justify-content: center;
        padding: 0 10px;
      }
  
      &__title {
        margin-top: 100px;
      }
    }
  }
  
  @media (max-width: 680px) {
    .food {
      &__list {
        padding: 0;
      }
    }
  }
  
  @media (max-width: 590px) {
    .food-item {
      max-width: 420px;
  
      &__photo-img {
        img {
          width: 420px;
          height: 400px;
        }
      }
    }
  }
  
  @media (max-width: 400px) {
    .food-item {
      max-width: 320px;
  
      &__photo-img {
        img {
          width: 320px;
          height: 300px;
        }
      }
    }
  }
  /*-------------/food-------------*/