.footer-top {
  background-color: $deep_black;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 40px 0;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 34px;
    text-transform: uppercase;
    font-family: "Oswald", Arial, sans-serif;
  }

  &__info {
    margin-left: 20px;
  }

  &__info-list {
    display: flex;
    margin-bottom: 20px;
  }

  &__info-item {
    padding-right: 6px;
    a {
      background-color: $graphite;
      padding: 7px;
      border-radius: 50%;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $ivory;
      }

      img {
        width: 18px;
      }
    }
  }

  &__info-list {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    a {
      font-size: 15px;
      line-height: 28px;
      color: $steel_gray;
      transition: color 0.2s ease;

      &:hover {
        color: #fff;
      }
    }
  }
  &__menu-item {
    padding: 8px 0;
  }

  &__menu-item-sub {
    margin: -10px 0 10px 50px;
  }

  &__submenu-item {
    padding: 8px 0;
  }

  &__chain {
    margin-right: 100px;
  }

  &__chain-img {
    img {
      max-width: 120px;
    }
  }

  &__chain-descr {
    color: $steel_gray;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  &__chain-email {
    color: $ivory;
  }
}

.footer-top__menu-item::before {
  content: "\2022";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  color: #888;
  width: 1em;
  margin-right: 8px;
}

.footer-top__submenu-item::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
  border: 1px solid #888;
  border-radius: 50%;
  background-color: $deep_black;
  margin-right: 8px;
  margin-top: 10px;
}

.footer-copyright {
  background-color: $shadow_black;
  padding: 40px 0;

  p {
    color: $steel_gray;
  }
}

@media (max-width: 768px) {
  .footer-top {
    &__container {
      flex-direction: column;
      padding-top: 50px;
      margin-left: 150px;
      gap: 50px;
    }

    &__info {
      margin-left: 0px;
    }
  }
}
@media (max-width: 576px) {
  .footer-top {
    &__container {

      margin-left: 20px;
    }
  }

  .footer-copyright{
    padding: 20px 0;
    p{
      text-align: center;
    }
  }
}
